<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>C.M.A. Demo</h1>

  <h2>
    Demo de sistema administrativos de mantto. de estaciones de servicio    
  </h2>

  <%= link_to "Sign up.", signup_path, class: "btn btn-lg btn-primary" %>
</div>