<h3>Estacion de Servicio BP estacion:Taxquena</h3>
Calzada Tasquena no. 1744, Colonia Paseos de Taxquena, Mexico D.F.
<br/>
Jefe Mantto: <%= link_to "Jesus Peraza", '#' %>
<br/>
Salud trimestral: {semaphore}
<hr/>


<div id="example-table"></div> 